<!--https://guides.rubyonrails.org/form_helpers.html-->
<%= form_with model: @article, local: true do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :category_elements %>
        <%# form.text_field :category_elements %>
        <%# comentarios %>
        <div class="row">
            <% @categories.each do |category|%>
                <label class="col-6 col-sm-4">
                    <%= form.check_box :category_elements, {multiple: true, checked: @article.categories.include?(category)}, category.id, nil %> <%#Al pasar la config {multiple} tranforma el string en un arreglo%>
                    <%= category.title %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="field"> 
        <%= form.label :status %>
        <%= form.number_field :status %>
    </div>

    <div class="field"> 
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<%end%>